*{
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    box-sizing: border-box;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

.encabezado-titulo{
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    font-style: oblique;
    color:#0a3871;
    text-shadow: 3px 3px 1px pink,5px 5px 2px blueviolet,8px 8px 3px whitesmoke;
    letter-spacing: 8px;
}

body{
    background: linear-gradient(#ffc0cb, #0a3871);
    font-family: "Inter Tight", sans-serif;
}

main{
    display: flex;
    padding: 5% 2rem;
    justify-content: space-evenly;
}

.contenedor1{
    max-width: 35vw;
    width: 100%;

}

.text-area{
    border:none;
    color:#0a3871;
    margin-top: 90px;
    text-transform: lowercase;
    background: #e9c6cc;
    width: 100%;
    resize: none;
    border-radius: 24px;
    padding: 1rem;
    min-height: 50vh;
}
::placeholder{color:#0a3871;}
.text-area:focus{
    outline: none;
}

.informacion{
    display: flex;
    gap:0.5rem;
}

.informacion h6{
    font-size: 1rem;
    color:#ffffff;
    
}

.informacion img{
    filter: brightness(200%);
}

.mensaje-box{
    background:#e9c6cc; 
    background-repeat:no-repeat;
    border:none;
    border-radius: 24px;
    Color:#0a3871;
    padding: 20px;
    max-width: 25vw;
    width: 100%;    
}

.mensaje-encriptado{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mensaje{
    background: transparent;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
}

.mensaje:focus{
    outline:none;}

.mensaje-no-encontrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.mensaje-no-encontrado img{
    max-width: 65%;
}

.no-mostrar{
    display: none;

}
.botones{
    display: flex;
    margin-top:18px;
    gap: 1rem;
    width: 100%;
}

.btn-encriptar{
    background-color: #0a3871;
    border:1px solid #ffffff;
    border-radius:24px;
    color:#ffc0cb;
    cursor:pointer;
    height: 67px;
    width: 50%;
    font-weight: bolder;
}


.btn-desencriptar{
    background-color: #ffc0cb;
    border:1px solid #ffffff;
    border-radius:24px;
    color:#0a3871;
    cursor:pointer;
    height: 67px;
    width: 50%;
    font-weight: bolder;
}

.btn-copiar{
    background-color: #0a3871;
    border:1px solid #ffffff;
    border-radius: 24px;
    color:#ffc0cb;
    cursor:pointer;
    height: 67px;
    width: 100%;
    font-weight: bolder;
}

.contenedor2 p{
    margin-block-end: auto;
}

footer{
    width: 100%;
    padding: 1rem;
    color:#f37f93;
    text-shadow: 1px 1px 2px white;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    gap: 12px;
}
 
